.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.screen-container {
    height: 480px;
    width: 480px;
    background-color: rgba(100, 100, 100, 0.5);
    position: relative;
}
