.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.screen-container {
    height: 500px;
    width: 500px;
    background-color: slategrey;
}

.row-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(150, 225, 65);
    width: 100%;
}

.row-container:hover {
    background-color: salmon;
}
